<div class="full-row jumbotron"><h1>Admin</h1></div>
<div class="solution-form" style="background: #eee; padding: 1em 2em">

<form id="settingsform">

	<div class="align-inputs">
		<h2>New Account</h2>
		<label>Username</label> <input type="text" ng-model="newAccount.username "><br>
		<label>Email</label> <input type="text" ng-model="newAccount.email "><br>
		<label>Password</label> <input type="text" ng-model="newAccount.password ">
		<button class="button" ng-click="callApi(newAccount)">create account</button>
	</div>

	<hr>

	<div class="align-inputs">
		<h2>Assign New Password</h2>
		<label>Username</label> <input type="text" ng-model="newPassword.username "><br>
		<label>Password</label> <input type="text" ng-model="newPassword.password ">
		<button class="button" ng-click="callApi(newPassword)">assign password</button>
	</div>

</form>
</div>
