<div class="full-row jumbotron">
	<h1>{{cluster.name}}</h1>
</div>
<div class="full-row page-stripe toolbar">
	<div class="pull-right">
		<a id="download-image-link" download="cluster-snapshot.png">
			<i class="fa fa-camera"></i></a>
		<a onclick="engine.zoom(-1)" href="javascript:void(0)">
			<i class="fa fa-plus"></i></a>
		<a onclick="engine.zoom(1)" href="javascript:void(0)">
			<i class="fa fa-minus"></i></a>
	</div>
	<div>
		<a class="active" href="#/cluster/1">CLUSTER</a>
		<a href="#/network">NETWORK</a>
		<a href="#/map">MAP</a>
	</div>
</div>
<div style="position: relative">
	<canvas id="canvas" width="800" height="800"></canvas>
	<div class="properties-hud">
		<small>Building: {{cluster.building | number:0}}% &nbsp; &nbsp; &nbsp; 
		Mobility: {{cluster.mobility | number:0}}% &nbsp; &nbsp; &nbsp; 
		Nutrition: {{cluster.nutrition | number:0}}% &nbsp; &nbsp; &nbsp; 
		Solutions: {{cluster.entities.length}} &nbsp; &nbsp; &nbsp; 
		Transformative Potential: {{cluster.potential || 'TBD'}}</small>
	</div>
	<div class="tab-bar">
		<a ng-click="togglePane('filter')" href="javascript:void(0)">
		   <img ng-show="activePane === 'filter'" src="img/view_icon.png">
		   <img ng-hide="activePane === 'filter'" src="img/view_icon_inactive.png">
		   VIEW
		</a>
		<a ng-click="togglePane('current')" href="javascript:void(0)">
		   <img ng-show="activePane === 'current'" src="img/current_icon.png">
		   <img ng-hide="activePane === 'current'" src="img/current_icon_inactive.png">CURRENT</a>
		<a ng-click="showUploadDialog = true" href="javascript:void(0)">
		   <img src="img/upload_icon_inactive.png">SUBMIT</a>
		<a ng-click="togglePane('legend')" href="javascript:void(0)">
		   <img ng-show="activePane === 'legend'" src="img/legend_icon.png">
		   <img ng-hide="activePane === 'legend'" src="img/legend_icon_inactive.png">LEGEND</a>
		<a ng-click="togglePane('admin')" href="javascript:void(0)">
		   <img ng-show="activePane === 'admin'" src="img/develop_icon.png">
		   <img ng-hide="activePane === 'admin'" src="img/develop_icon_inactive.png">DEVELOP</a>
	</div>
	<div class="sidebar sidebar-look onlyTopShadow details_sidebar" ng-show="selectedEntity">
		<div>
			<div>
				<a class="pull-right"
				   onclick="engine.centerSelected()" 
				   href="javascript:void(0)"><i class="fa fa-crosshairs fa-2x"></i></a>
				<h2>{{selectedEntity.name}} </h2>
			</div>
			<div><label>Web</label> <a href="{{selectedEntity.url}}">{{selectedEntity.company}}</a></div>
			<div><label>Email</label>  <a href="mailto:{{selectedEntity.email}}">{{selectedEntity.email}}</a></div>
			<hr>
			<div class="toolset">
				<h3>Improve cluster</h3>
				<a ng-click="addSolutionWizard.show = true" href="javascript:void(0)">
					<i class="fa fa-fw fa-plus-circle fa-lg"></i> Add related solution
				</a>
				<a ng-click="showComment = true" href="javascript:void(0)">
					<i class="fa fa-fw fa-comment fa-lg"></i> Comment solution
				</a>
			</div>
			<hr>
			<h3>Brief information</h3>
			<div>{{selectedEntity.description}}</div>
		</div>
	</div>
	<div class="sidebar sidebar-look onlyTopShadow details_sidebar" ng-show="selectedRelation">
		<div>
			<h2>{{selectedRelation.start.name}} - {{selectedRelation.end.name}}</h2>
			<div><label>Type</label> <em style="width: 100px">{{selectedRelation.type}}</em></div>
			<div><label>Date</label> {{selectedRelation.date}}</div>
			<div><label>Author</label> {{selectedRelation.author}}</div>
			<div><label>Verified</label> {{selectedRelation.verified ? 'Yes' : 'pending'}}</div>
			<hr>
			<div>{{selectedRelation.description}}</div>
		</div>
	</div>
	<div class="sidebar sidebar-look search_sidebar"
		 id="search_sidebar"
		 ng-show="activePane === 'filter'">
		<div>
			Mobility  <em>&gt; {{filter.mobility}}%</em>
			<div><input type="range" ng-model="filter.mobility"></div>
			Nutrition <em>&gt; {{filter.nutrition}}%</em>
			<div><input type="range" ng-model="filter.nutrition"></div>
			Building  <em>&gt; {{filter.building}}%</em>
			<div><input type="range" ng-model="filter.building"></div>
			<hr>
			<label>Solution status</label>
			<div><label><input type="checkbox" ng-model="filter.existing"> Existing</label></div>
			<div><label> <input type="checkbox" ng-model="filter.supporting"> Supporting</label></div>
			<div><label><input type="checkbox" ng-model="filter.potential"> Potential</label></div>
			<label>Solution type</label>
			<div><label><input type="checkbox" ng-model="filter.core"> Core</label></div>
			<div><label><input type="checkbox" ng-model="filter.accelerator"> Accelerator</label></div>
			<div><label><input type="checkbox" ng-model="filter.expander"> Expander</label></div>
			<hr>
			<label>Relations</label>
			<div class="toolset">
				<a href="javascript:void(0)" ng-click="toggleRelationFilters()">
					<i class="fa fa-fw fa-eye"></i> Show/hide all</a>
			</div>
			<div><label><input type="checkbox" ng-model="filter.rel_participant"> Participant</label></div>
			<div><label><input type="checkbox" ng-model="filter.rel_provider"> Provider</label></div>
			<div><label><input type="checkbox" ng-model="filter.rel_catalyst"> Catalyst</label></div>
			<div><label><input type="checkbox" ng-model="filter.rel_potential"> Potential</label></div>
			<div><label><input type="checkbox" ng-model="filter.rel_alternative"> Alternative</label></div>
		</div>
	</div>
	<div class="sidebar sidebar-look legend_sidebar"
		 ng-show="activePane === 'current'">
		<div>
			<h3>Current View</h3>
			<div ng-repeat="e in visibleSolutions">
				<a ng-click="selectEntity(e.id)" href="javascript:void(0)">{{e.name}}</a>
			</div>
		</div>
	</div>
	<div class="sidebar sidebar-look admin_sidebar"
		 ng-show="activePane === 'admin'">
		<div>
			<div class="toolset">
				<a href="#cluster/blank"><i class="fa fa-fw fa-dot-circle-o"></i> Blank cluster</a>
				<a ng-click="addSolution()"><i class="fa fa-fw fa-plus"></i> Add solution</a>
				<a onclick="engine.runFor(2000)"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Auto layout</a>
				<a id="download-data-link" download="cluster-data.json">
					<i class="fa fa-fw fa-download"></i> Download data</a>
				<h3><i class="fa fa-fw fa-folder-open"></i> Open file</h3>
				<input type="file"
					   onchange="angular.element(this).scope().loadClusterFile(this.files)">
			</div>

			<h3>Cluster</h3>
			<label>Name</label>
			<input type="text" ng-model="cluster.name">
			<label>Url</label>
			<input type="text" ng-model="cluster.url">
			<label>Email</label>
			<input type="text" ng-model="cluster.email">
			<label>Potential</label>
			<input type="text" ng-model="cluster.potential">
			Building  <em>{{cluster.building}}%</em>
			<div><input type="range" ng-model="cluster.building"></div>
			Mobility  <em>{{cluster.mobility}}%</em>
			<div><input type="range" ng-model="cluster.mobility"></div>
			Nutrition <em>{{cluster.nutrition}}%</em>
			<div><input type="range" ng-model="cluster.nutrition"></div>


			<h3>Selection</h3>
			<div ng-show="selectedEntity">
				<div class="toolset" ng-show="selectedEntity">
					<a ng-click="removeEntity()"><i class="fa fa-fw fa-trash-o"></i> Remove solution from cluster</a>
				</div>
				<label>Name</label>
				<input type="text" ng-model="selectedEntity.name">
				<label>Description</label>
				<input type="text" ng-model="selectedEntity.description">
				<label>Company</label>
				<input type="text" ng-model="selectedEntity.company">
				<label>Status</label>
				<select ng-options="e for e in ['existing', 'supporting', 'potential']"
						ng-model="selectedEntity.status"></select>
				<label>Type</label>
				<select ng-options="e for e in ['core', 'accelerator', 'expander']"
						ng-model="selectedEntity.type"></select><br>

				Building  <em>{{selectedEntity.building}}%</em>
				<div><input type="range" ng-model="selectedEntity.building"></div>
				Mobility  <em>{{selectedEntity.mobility}}%</em>
				<div><input type="range" ng-model="selectedEntity.mobility"></div>
				Nutrition <em>{{selectedEntity.nutrition}}%</em>
				<div><input type="range" ng-model="selectedEntity.nutrition"></div>
			</div>
			<div ng-show="selectedRelation">
				<div class="toolset" ng-show="selectedRelation">
					<a ng-click="removeRelation()"><i class="fa fa-fw fa-trash-o"></i> Remove relation</a>
				</div>
				<label>Type</label>
				<select ng-options="e for e in relationTypes"
						ng-model="selectedRelation.type"></select><br>
				<label>Description</label>
				<input type="text" ng-model="selectedRelation.description">
				<label>Author</label>
				<input type="text" ng-model="selectedRelation.author">
				<label>Date</label>
				<input type="text" ng-model="selectedRelation.date">
				<label>Verified</label>
				<input type="checkbox" ng-model="selectedRelation.verified">
			</div>

		</div>
	</div>
	<div class="sidebar sidebar-look legend_sidebar" ng-show="activePane === 'legend'">
		<div>
		<table>
			<tr><td><div class="entity existing"></div></td>
			<td><b>Existing Solution</b><br> Solutions that is part of an existing cluster</div></td></tr>
			<tr><td><div class="entity supporting"></div></td>
			<td><b>Supporting solution</b><br> Existing solution that is (not yet) part of the cluster </td></tr>
			<tr><td><div class="entity potential"></div></td>
			<td><b>Potential solution</b><br> Possible solution that is not on the market, that could be part of a future cluster</td></tr>
			<tr><td><div class="entity bordered core"></div></td>
			<td><b>Existing</b><br> Solution that focus on what the cluster i delivering right now</td></tr>
			<tr><td><div class="entity bordered accelerator"></div></td>
			<td><b>Accelerator</b><br> Accelererating solution such a business- or app development</td></tr>
			<tr><td><div class="entity bordered expander"></div></td>
			<td><b>Expander</b><br> Solution that broadens the current clusters capacity to deliver solutions into new areas. </td></tr>
			<tr><td><div class="relation participant"></div></td>
			<td><b>Existing relation</b><br> Relations established by  existing cluster participants</td></tr>
			<tr><td><div class="relation supporting"></div></td>
			<td><b>Supporting relation</b><br> Relation established by  supporting solution providers</td></tr>
			<tr><td><div class="relation catalyst"></div></td>
			<td><b>Catalyst relation</b><br> Relation established by  a catalyst</td></tr>
			<tr><td><div class="relation potential"></div></td>
			<td><b>Potential relation</b><br> Relation established by a thought leader</td></tr>
			<tr><td><div class="relation alternative"></div></td>
			<td><b>Alternative relation</b><br> Two solutions that are potential alternatives</td></tr>
		</table>
		</div>
	</div>
	<div class="modal" ng-show="addSolutionWizard.show">
		<div>
			<a class="pull-right" ng-click="addSolutionWizard.cancel()" href="javascript:void(0)">
				<img src="img/icons/close_popup.png" width="42" height="42">
			</a>
			<h2>Add solution to cluster: <strong>{{addSolutionWizard.chosenSolution.name}}</strong></h2>
			<table ng-show="addSolutionWizard.page === 1">
			<tr>
				<th><a ng-click="sortKey = 'name'">Name</a></th>
				<th><a ng-click="sortKey = 'company'">Company</a></th>
				<th><a ng-click="sortKey = 'date'">Date</a></th>
			</tr>
			<tr ng-repeat="s in allSolutions | orderBy:sortKey">
				<td><a ng-click="addSolutionWizard.chooseSolution(s)">{{s.name}}</a></td>
				<td><a ng-click="addSolutionWizard.chooseSolution(s)">{{s.company}}</a></td>
				<td><a ng-click="addSolutionWizard.chooseSolution(s)">{{s.date}}</a></td>
			</tr>
			</table>
			<ul ng-show="addSolutionWizard.page === 2">
				<li>
					<h3>Solution status in cluster</h3>
					<select ng-options="e for e in solutionStatuses" ng-model="addSolutionWizard.status">
					</select>
					<h3>Solution type in cluster</h3>
					<select ng-options="e for e in solutionTypes" ng-model="addSolutionWizard.type">
					</select>
				</li>
				<li>
					<h3>Your role</h3>
					<select ng-options="e for e in relationTypes" ng-model="addSolutionWizard.rel_type">
					</select>
					<h3>Description of relation to <strong>{{selectedEntity.name}}</strong></h3>
					<textarea ng-model="addSolutionWizard.rel_desc"></textarea>
					<a class="button" ng-click="addSolutionWizard.done()">Done</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal" ng-show="showUploadDialog">
		<div>
			<a class="pull-right" ng-click="showUploadDialog = false" href="javascript:void(0)">
				<img src="img/icons/close_popup.png" width="42" height="42">
			</a>
			<h2><i class="fa fa-fw fa-cloud-upload"></i> Upload current cluster</h2>
			Send the current cluster with any changes to transformative-clusters.net for review and inclusion in out database.
			<h3>Message (optional)</h3>
			<textarea ng-model="uploadMessage" style="width: 100%"></textarea>
			<a class="button" ng-click="uploadCluster()">Upload</a>
		</div>
	</div>
	<div class="modal" ng-show="showComment">
		<div>
			<a class="pull-right" ng-click="showComment = false" href="javascript:void(0)">
				<img src="img/icons/close_popup.png" width="42" height="42">
			</a>
			<h2><i class="fa fa-fw fa-comment"></i> Comment solution <strong>{{selectedEntity.name}}</strong></h2>
			<textarea ng-model="comment" style="width: 100%"></textarea>
			<a class="button" ng-click="commentSolution()">Send</a>
		</div>
	</div>
	<div class="modal" ng-show="readyToDownload">
		<div>
			<a class="pull-right" ng-click="readyToDownload = false" href="javascript:void(0)">
				<img src="img/icons/close_popup.png" width="42" height="42">
			</a>
			<h2>Download current cluster</h2>
			<ol style="font-size: 150%">
				<li>Right-click 
					<a id="download-save-link2" download="my-cluster.json" target="_blank">
						<i class="fa fa-download"></i> this link
					</a>
				</li>
				<li>Choose "Save"</li>
				<li>Email file to <a href="mailto:madeleine@transformative-clusters.net">madeleine@transformative-clusters.net</a></li>
			</ol>
		</div>
	</div>
</div>
<script>

attachDataUrlToLink('download-image-link', 'image/png', function (){
	return document.getElementById('canvas').toDataURL('image/png')
})

attachDataUrlToLink('download-data-link', 'text/json', clusterToDataUrl)

var engine = Engine('canvas', Nodes([], []), { fps: 30 })

window.addEventListener('resize', _.throttle(engine.fillScreen, 750, {leading: true}))
document.getElementById('canvas').addEventListener('wheel', function (e){ engine.zoom(e.deltaY) })
engine.fillScreen()

var ClusterPlatform = { cluster: {}, entities: [], relations: [], engine: engine }

</script>