<div class="full-row jumbotron">
	<h1>Transformative Solutions</h1>
</div>
<div class="full-row dashboard-section updates">
	<div class="action-buttons">
		<a class="button" href="#/newsolution" >
			<i class="fa fa-plus"></i> NEW SOLUTION
		</a>
		<a class="button" href="#/goals" >
			<i class="fa fa-trophy"></i> VIEW PLATFORM GOALS
		</a>
	</div>
	<hr>
	<h2>UPDATES</h2>
	<div class="blocks">
		<div class="block" ng-repeat="u in updates" ng-class="{active: updateKind === u}">
			<a href="javascript:void(0)" ng-click="setUpdateKind(u)">
				<img ng-src="img/icons/{{u.icon}}" style="display: inline">
				<b>{{u.value}}</b><div class="specifier">{{u.name}}</div>
			</a>
		</div>
	</div>
	<hr ng-show="!!updateKind">
	<h2 ng-show="!!updateKind">{{updateKind.name.toUpperCase()}}</h2>
	<div ng-show="!!updateKind">
		<table class="updateList">
		<tr ng-repeat="(date, message) in updateKind.items">
			<td><img width="30" height="30" ng-src="img/icons/{{updateKind.icon}}"></td>
			<td class="date">{{date}}</td>
			<td>{{message}}</td>
		</tr>
		</table>
	</div>
	<hr>
	<h2>PERSONAL GOALS</h2>
	<div class="progress-gauge" style="border-radius: 2em; background: #444; padding: 1ex 2ex; position: relative; margin: 1em; color: white;" ng-repeat="g in goals">
		&nbsp;
		<div class="progress-bar"
			 style="background: {{g.color}}; width: {{g.value}}">&nbsp;</div>
		<div class="progress-message">{{g.value}} &nbsp; &nbsp; &nbsp; {{g.name}}</div>
	</div>
</div>
<div class="full-row dashboard-section profile-summary">
	<h2>{{profile.name}}</h2>
	<img ng-src="{{imageUrl}}" width=150 height=150>
	<div class="properties">
		<div ng-repeat="(key, value) in profile.info"><b>{{key}}</b> {{value}}</div>
	</div>
</div>