<div class="full-row jumbotron">
	<h1>Transformative Solutions</h1>
</div>
<div class="full-row dashboard-section updates">
	<div class="action-buttons">
		<a class="button" href="#/newsolution" >
			<i class="fa fa-plus"></i> NEW SOLUTION
		</a>
		<a class="button" href="#/goals" >
			<i class="fa fa-trophy"></i> PLATFORM GOALS
		</a>
	</div>
	<hr>
	<h2>UPDATES</h2>
	<div class="blocks">
		<div class="block" ng-repeat="u in updates" ng-class="{active: updateKind === u}">
			<a href="javascript:void(0)" ng-click="setUpdateKind(u)">
				<img ng-src="img/icons/{{u.icon}}" style="display: inline">
				<b>{{u.value}}</b><div class="specifier">{{u.name}}</div>
			</a>
		</div>
	</div>
	<hr ng-show="!!updateKind">
	<h2 ng-show="!!updateKind">{{updateKind.name.toUpperCase()}}</h2>
	<div ng-show="!!updateKind" class="hidden-sm scroll-content">
		<table class="updateList">
		<tr ng-repeat="(date, message) in updateKind.items">
			<td width="50px">
				<img width="30" height="30" ng-src="img/icons/{{updateKind.icon}}">
			</td>
			<td width="15%" class="date">{{date}}</td>
			<td ng-bind-html="message"></td>
			<td width="75px">
				<a href="javascript:void(0)" ng-click="sendOpinion('LIKE', message)">
					<i class="fa fa-thumbs-up"></i> Like
				</a>
			</td>
			<td width="135px">
				<a href="javascript:void(0)" ng-click="sendOpinion('UNINTERESTED', message)">
					<i class="fa fa-meh-o"></i> Not interesting
				</a>
			</td>
		</tr>
		</table>
	</div>
	<div ng-show="!!updateKind" class="visible-sm">
		<div ng-repeat="(date, message) in updateKind.items">
			<div style="color:#717983"><img width="30" height="30" ng-src="img/icons/{{updateKind.icon}}"> {{date}}</div>
			<div style="padding-left: 35px; padding-bottom:10px" ng-bind-html="message"></div>
		</div>
	</div>
	<hr>
	<h2>PERSONAL GOALS</h2>
	<div class="progress-gauge" style="border-radius: 2em; background: #444; padding: 1ex 2ex; position: relative; margin: 1em; color: white;" ng-repeat="g in goals">
		&nbsp;
		<div class="progress-bar"
			 style="background: {{g.color}}; width: {{g.value}}">&nbsp;</div>
		<div class="progress-message">{{g.value}} &nbsp; &nbsp; &nbsp; {{g.name}}</div>
	</div>
</div>
<div class="full-row dashboard-section profile-summary" style="position: relative">
	<a href="#/settings" class="edit-settings-button">
		<i class="fa fa-edit"></i> Edit profile
	</a>
	<h2>{{settings.name}}</h2>
	<img ng-src="api/?action=get_image&username={{username}}" width="150" height="150">
	<div class="properties">
		<div><b>Company/Organisation</b> <span>{{settings.organisation}}</span></div>
		<div><b>Change speed</b> <span>{{settings.speed}}</span></div>
	</div>
	<div class="properties">
		<div><b>Interests</b></div>
		<div><span>Building: {{settings.building}}</span></div>
		<div><span>Nutrition: {{settings.nutrition}}</span></div>
		<div><span>Mobility: {{settings.mobility}}</span></div>
	</div>
</div>