
html, body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #fdf6e3;
}
.wrap {
	position: relative;
	min-height: 100%;
}
#linemarker {
	background: rgba(255,0,0,0.25);
	position: absolute;
	left: 0;
	width: 30px;
	height: 16px
}
#textarea {
	outline: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	border: 0;
	font-family: Consolas, monospace;
	color: #657b83;
	padding: 30px;
}
#canvas {
	position: absolute;
	right: 0;
	bottom: 0;
}
a, a:active {
	color: #586e75;
	opacity: 0.5;
	text-decoration: none
}
a:hover {
	color: #93a1a1;
	opacity: 0.75;
	text-decoration: none
}
.tools {
	display: block;
	position: absolute;
	top: 20px;
	right: 40px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}
.tools>.logo {
	color: #000;
	font-size: 175%;
	opacity: 0.5;
}
.tools img {
	width: 24px;
	height: 24px;
}
.tools>a {
	margin-left: 10px;
	margin-bottom: 5px;
}
.tools>a.narrow {
	margin-left: 7px;
}
#help {
	display: none;
	position: absolute;
	top: 0px;
	right:0;
	bottom: 0;
	width: 320px;
	background-color: #eee8d5;
}
#help.visible {
	display: block;
	overflow: auto;
}
#help .logo-background {
	position: fixed;
	top: 0;
	right: 20px;
	width: 300px;
	height: 70px;
	background: rgba(238, 232, 213, 0.75)
}
#help .content{
	display: block;
	color: #586e75;
	font-family: monospace;
	padding: 60px 10px 200px 20px;
}
#help .content label{
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}