body, html {
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  overflow: hidden;
}
.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-family: "Geneva", "Calibri", sans-serif;
  font-size: 20px;
  color: #888;
  padding: 10px 20px;
  box-sizing: content-box;
  border: none;
}
.file-toolbox {
  position: fixed;
  right: 345px;
  top: 30px;
}
.toolbox {
  position: fixed;
  left: 30px;
  bottom: 30px;
}
.file-toolbox .card, .toolbox .card, .nav .card {
  margin-right: 10px;
}
.entity-selector {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 260px;
}
.sidebar {
  position: fixed;
  right: 30px;
  top: 100px;
  bottom: 30px;
  width: 260px;
  padding-top: 20px;
  font-size: 12px;
}
.card.btn {
  user-select: none;
  cursor: pointer;
  text-align: center;
}
.card.btn-left {
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}
.card.btn-right {
  border-radius: 0 5px 5px 0;
}
.card.btn.active {
  background: #eee;
}
select.dropdown {
  appearance: none;
  -webkit-appearance: none;
}
button.card {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  margin-right: 10px;
  font-family: "Geneva", "Calibri", sans-serif;
  font-size: 20px;
}
button.cycle-btn {
  width: 100px;
}
