html { margin: 0; }
body {
  font-family: "helvetica neue", "Segoe UI", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 6vw;
  margin: 0;
  font-size: 20px;
  background: black;
  color: #ddd;
  letter-spacing: 1.5px;

  background-image: url(screens/inverted-background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -15vw;
  background-position-x: center;
}
@media (max-width: 500px) {
  body {
    background-position-y: 0;
  }
}
h1, h2 {
  font-family: inherit;
  font-weight: 100;
  text-align: center;
}
h1 {
  font-size: 60px;
  letter-spacing: 15px;
}
h2 {
  margin-top: 120px;
  font-size: 30px;
  letter-spacing: 10px;
  border-bottom: 1px solid;
}
h1, p {
  text-shadow: 0 0 16px black, 0 0 14px black;
}
img {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #333;
}
a.btn, a.btn:hover, a.btn:active, a.btn:visited {
  display: inline-block;
  color: #fa0;
  text-decoration: none;
  padding: 5px 25px;
  margin: 4px;
  background: #420;
  border-radius: 6px;
  border-width: 0 3px;
  min-width: 100px;
  font-weight: 200;
}
.appstore-link {
  margin-top: 30px;
}
pre {
  font-size: 14px;
  text-align: left;
  margin: 20px auto 50px auto;
  white-space: pre-wrap;
}
pre code {
  font-family: "Consolas", "Monaco", monospace;
}
.body-text {
  text-align: left
}