<div class="full-row jumbotron">
	<h1>Start</h1>
	<small>Transformative Clusters</small>
</div>
<div class="full-row dashboard-section updates">
	<h2>UPDATES</h2>
	<table style="margin: 2em auto">
	<tr>
		<td style="height: 35px">Username </td>
		<td><input type="text" ng-model="username"> </td>
	</tr>
	<tr>
		<td style="height: 35px">Password </td>
		<td><input type="password" ng-model="password"> </td>
	</tr>
	<tr>
		<td style="height: 35px"><label><input type="checkbox"> Remember me</label></td>
		<td><a class="button"
				style="margin-right:0; width: 60px"
				ng-click="login()"
				href="javascript:void(0)">Log in</a> </td>
	</tr>
	</table>

	<div class="full-row">
		<div class="introductions">
			<hr>
			<a><img src="img/trans_clust_blubb.png" ></a>
			<a><img src="img/interest_blubb.png" ></a>
		</div>
	</div>

	<div class="progress-gauge" style="border-radius: 2em; background: #444; padding: 1ex 2ex; position: relative; margin: 1em; color: white" ng-repeat="g in goals">
		&nbsp;
		<div class="progress-bar"
			 style="background: {{g.color}}; width: {{g.value}}">&nbsp;</div>
		<div class="progress-message">{{g.value}} &nbsp; &nbsp; &nbsp; {{g.name}}</div>
	</div>
</div>


<script> var daysLeft = 32 </script>
<div style="padding: 0 40px; background: #158892; background: -webkit-linear-gradient(top, #158892, #0B7582)">
	<canvas id="indicator" data-processing-sources="indicator/indicator.pde"
			width="920" height="350" tabindex="0"
			style="image-rendering: -webkit-optimize-contrast !important;">
    </canvas>
</div>