<div class="full-row jumbotron">Register new solution</div>
<div class="solution-form" style="background: #eee; padding: 1em">

<div class="align-inputs">
	<H3>NAME OF THE SOLUTION</H3>
	<label>Solution name</label><input type="text">

	<H3>WHAT AREA DOES YOUR SOLUTION COVER?</H3>
	<label>Mobility</label><input ng-model="area.mobility" type="range"> {{area.mobility}}%<br>
	<label>Buildings</label><input ng-model="area.building" type="range"> {{area.building}}%<br>
	<label>Nutrition</label><input ng-model="area.nutrition" type="range"> {{area.nutrition}}%<br>
</div>

<H3>WHAT KIND OF SOLUTION?</H3>
<label><input type="checkbox"> Technical solution</label><br>
<label><input type="checkbox"> Technical solution</label> <small>E.g. solar PV module, laptop, greenhouse</small><br>
<label><input type="checkbox"> Business model</label> <small>E.g. renting light from PV/LED/Battery system, selling virtual meetings etc.</small><br>
<label><input type="checkbox"> Capacity building</label> <small>E.g. supporting a buyer to use their existing, or other entrepreneurs’, technologies to deliver a specific solution.</small><br>
<label><input type="checkbox"> Communication/data</label> <small>E.g. help solution providers to explain their solutions, or cities to better understand and communicate their needs.</small><br>
<label><input type="checkbox"> Other (please specify)</label> <input type="text"><br>
<label><input type="checkbox"> Don't know or do not apply</label> <input type="text"><br>

<h2>WHAT FUNCTION DOES YOUR SOLUTION PROVIDE?</h2>

<div ng-show="area.nutrition > 0">
	<hr>
	<h1>NUTRITION</h1>
	<h2>NEEDS SATISFIED BY THE SOLUTION</h2>

	<h3 ng-click="toggle('nut_physical')" >PHYSICAL <i ng-class="icon('nut_physical')"></i></h3>
	<div ng-show="panes.nut_physical">
		<label><input type="checkbox"> Protein</label><br>
		<label><input type="checkbox"> Carbohydrates (incl. fibre)</label><br>
		<label><input type="checkbox"> Fat</label><br>
		<label><input type="checkbox"> Water</label><br>
		<label><input type="checkbox"> Vitamins</label><br>
		<label><input type="checkbox"> Minerals</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text"><br>
	</div>

	<h3 ng-click="toggle('nut_optimize')" >OPTIMIZATION <i ng-class="icon('nut_optimize')"></i></h3>
	<div ng-show="panes.nut_optimize">
		<label><input type="checkbox"> Balance (between different kind of nutrients)</label> <small>E.g recipies that help users ensure a good balance between nutrients
		</small><br>
		<label><input type="checkbox"> Total amount needed (amount nutrition and amount energy used)</label> <small>E.g. Health tracking apps that nudge users to eat sufficient (and avoid overconsumption) 
		</small><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text"><br>
	</div>

	<h3 ng-click="toggle('nut_social')" >SOCIAL <i ng-class="icon('nut_social')"></i></h3>
	<div ng-show="panes.nut_social">
		<label><input type="checkbox"> Meet/socialize with people</label><br>
		<label><input type="checkbox"> Active life</label><br>
		<label><input type="checkbox"> Culture/traditions</label><br>
		<label><input type="checkbox"> Optimize time</label><br>
		<label><input type="checkbox"> Other (please specify)</label><br>
	</div>

	<h3 ng-click="toggle('nut_economical')" >ECONOMICAL <i ng-class="icon('nut_economical')"></i></h3>
	<div ng-show="panes.nut_economical">
		<label><input type="checkbox"> Saving money</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text"><br>
	</div>

	<h3 ng-click="toggle('nut_ethical')" >ETHICAL <i ng-class="icon('nut_ethical')"></i></h3>
	<div ng-show="panes.nut_ethical">
		<label><input type="checkbox"> Equal access to food for 10 billion people within the boundaries of the planet</label><br>
		<label><input type="checkbox"> Environmental/climate impact</label><br>
		<label><input type="checkbox"> Human rights </label><br>
		<label><input type="checkbox"> Animal rights</label><br>
		<label><input type="checkbox"> Sustainable lifestyle</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text"><br>
	</div>

	<H2>PART OF THE VALUE CHAIN WHERE THE SOLUTION IS RELEVANT</H2>
	<label><input type="checkbox"> Providing nutrition in a totally new way</label> <small>	Changing/providing nutrition in a new way that radically reduces the use of resources compared to conventional ways of providing nutrition (e.g. providing plant-based protein instead of meat-based protein)</small><br>
	<label><input type="checkbox"> Closed loop service</label><br>
	<label><input type="checkbox"> Cultivation</label> <small>	E.g. resource-efficient agriculture</small><br>
	<label><input type="checkbox"> Manufacturing</label> <small>	E.g. manufacturing of synthetic protein</small><br>
	<label><input type="checkbox"> Packaging</label><br>
	<label><input type="checkbox"> Distribution</label> <small>	E.g. home delivery or rooftop gardens</small><br>
	<label><input type="checkbox"> Sales/purchasing/acquisition</label><br>
	<label><input type="checkbox"> Storage/fresh food</label><br>
	<label><input type="checkbox"> Cooking/serving</label><br>
	<label><input type="checkbox"> Recipe development</label><br>
	<label><input type="checkbox"> Re-cycling/disposal</label><br>
	<label><input type="checkbox"> Other (please specify)</label> <input type="text">

</div>

<div ng-show="area.building > 0">
	<hr>
	<h1>BUILDING/WORK-LIFE</h1>
	<h2>NEEDS SATISFIED BY THE SOLUTION</h2>

	<h3 ng-click="toggle('build_physical')" >PHYSICAL <i ng-class="icon('build_physical')"></i></h3>
	<div ng-show="panes.build_physical">
		<label><input type="checkbox"> Light</label><br>
		<label><input type="checkbox"> Right air temperature (heat/cold)</label><br>
		<label><input type="checkbox"> Healthy air quality</label><br>
		<label><input type="checkbox"> Fresh food (e.g. cold storage)</label><br>
		<label><input type="checkbox"> Cooked/edible food</label><br>
		<label><input type="checkbox"> Fresh water</label><br>
		<label><input type="checkbox"> Clean spaces/furniture/kitchenware/clothing/interior etc.</label><br>
		<label><input type="checkbox"> Energy, motion etc.</label><br>
		<label><input type="checkbox"> Shelter</label><br>
		<label><input type="checkbox"> Storage</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">	
	</div>

	<h3 ng-click="toggle('build_social')" >SOCIAL <i ng-class="icon('build_social')"></i></h3>
	<div ng-show="panes.build_social">
		<label><input type="checkbox"> Working</label><br>
		<label><input type="checkbox"> Co-working</label><br>
		<label><input type="checkbox"> Work meetings</label><br>
		<label><input type="checkbox"> Private meetings</label> <small>	E.g. socializing with family and friends</small><br>
		<label><input type="checkbox"> Network meetings</label> <small>	E.g. network meetings at big conferences</small><br>
		<label><input type="checkbox"> Exhibitions</label><br>
		<label><input type="checkbox"> Playing</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">	
	</div>

	<h3 ng-click="toggle('build_economical')" >ECONOMICAL <i ng-class="icon('build_economical')"></i></h3>
	<div ng-show="panes.build_economical">
		<label><input type="checkbox"> Saving money</label> <small>	E.g. having a net-producing building that generates more energy than it consumes, which then can be fed into the grid</small><br>
		<label><input type="checkbox"> Other (please specify)</label> <small> + Fritextrad	</small><br>
	</div>

	<h3 ng-click="toggle('build_ethical')" >ETHICAL <i ng-class="icon('build_ethical')"></i></h3>
	<div ng-show="panes.build_ethical">
		<label><input type="checkbox"> Equal access to housing for 10 billion people within the boundaries of the planet</label><br>
		<label><input type="checkbox"> Environmental/climate impact</label><br>
		<label><input type="checkbox"> Human rights</label> <small>	E.g. fair working and living conditions</small><br>
		<label><input type="checkbox"> Sustainable lifestyle</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">	
	</div>

	<H2>PART OF THE VALUE CHAIN WHERE THE SOLUTION IS RELEVANT (MULTIPLE OPTIONS POSSIBLE)</H2>
	<label><input type="checkbox"> Providing living/buildings in a totally new way</label> <small>	Changing/providing buildings/living in a new way that radically reduces the use of resources compared to conventional buildings/solutions (e.g. plus energy houses that are net producers of energy instead of conventional buildings that are only energy consumers)</small><br>
	<label><input type="checkbox"> Closed loop service</label><br>
	<label><input type="checkbox"> Planning & design</label> <small>	E.g. urban planning, architecture</small><br>
	<label><input type="checkbox"> Materials</label> <small>	E.g. cement, wood</small><br>
	<label><input type="checkbox"> Manufacturing</label> <small>	E.g. bricks, windows, insulation</small><br>
	<label><input type="checkbox"> Packaging</label><br>
	<label><input type="checkbox"> Distribution</label> <small>	E.g. home delivery or rooftop gardens</small><br>
	<label><input type="checkbox"> Sales/purchasing/acquisition</label><br>
	<label><input type="checkbox"> Construction</label><br>
	<label><input type="checkbox"> Maintenance</label><br>
	<label><input type="checkbox"> Refurbishing</label><br>
	<label><input type="checkbox"> Retrofitting </label> <small>	E.g. improvement of existing buildings with energy efficiency technologies to reduce emissions</small><br>
	<label><input type="checkbox"> Recycling/disposal</label><br>
	<label><input type="checkbox"> Other (please specify)</label> <input type="text">

</div>

<div ng-show="area.mobility > 0">
	<hr>
	<h1>MOBILITY/TRANSPORT</h1>
	<h2>NEEDS SATISFIED BY THE SOLUTION</h2>

	<h3 ng-click="toggle('mob_physical')" >PHYSICAL <i ng-class="icon('mob_physical')"></i></h3>
	<div ng-show="panes.mob_physical">
		<label><input type="checkbox"> Transportation of goods</label><br>
		<label><input type="checkbox"> Transportation of people</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">		
	</div>

	<h3 ng-click="toggle('mob_social')" >SOCIAL <i ng-class="icon('mob_social')"></i></h3>
	<div ng-show="panes.mob_social">	
		<label><input type="checkbox"> Meeting of people</label><br>
		<label><input type="checkbox"> Co-working</label><br>
		<label><input type="checkbox"> Representativeness</label><br>
		<label><input type="checkbox"> Security</label><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">	
	</div>

	<h3 ng-click="toggle('mob_economical')" >ECONOMICAL <i ng-class="icon('mob_economical')"></i></h3>
	<div ng-show="panes.mob_economical">
		<label><input type="checkbox"> Saving money</label> <small>	E.g. avoid travel costs when not having to travel/commute to meetings/work</small><br>
		<label><input type="checkbox"> Saving time</label> <small>	E.g. not having to travel/commute to meetings/work, possibility to work during travel</small><br>
		<label><input type="checkbox"> Other (please specify)</label> <input type="text">	
	</div>

	<h3 ng-click="toggle('mob_ethical')" >ETHICAL <i ng-class="icon('mob_ethical')"></i></h3>
	<div ng-show="panes.mob_ethical">
		<label><input type="checkbox"> Equal access to mobility for 10 billion people within the boundaries of the planet</label><br>
		<label><input type="checkbox"> Environmental/climate impact</label><br>
		<label><input type="checkbox"> Human rights</label> <small>	E.g. fair working and living conditions</small><br>
		<label><input type="checkbox"> Sustainable lifestyle</label><br>
		<label><input type="checkbox"> Other</label> <input type="text">
	</div>

	<H3>PART OF THE VALUE CHAIN WHERE THE SOLUTION IS RELEVANT</H3>	
	<label><input type="checkbox"> Providing mobility in a totally new way</label> <small>	Providing a new mode of mobility that radically reduces the use of resources compared to conventional mobility modes (e.g. providing video meetings instead of flying, or app for public transport)</small><br>
	<label><input type="checkbox"> Closed loop service</label><br>
	<label><input type="checkbox"> Planning & design</label> <small>	Affecting the need for mobility and what modes of mobility are included in the city development (e.g. city planning, business model support)</small><br>
	<label><input type="checkbox"> Materials</label> <small>	E.g. asphalt, metals, plastics</small><br>
	<label><input type="checkbox"> Manufacturing</label> <small>	E.g. cars, bikes</small><br>
	<label><input type="checkbox"> Evaluation of the meeting/mobility solution</label> <small>	E.g. system for measuring the efficiency and environmental impact of different modes of mobility</small><br>
	<label><input type="checkbox"> Packaging</label><br>
	<label><input type="checkbox"> Distribution</label> <small>	E.g. home delivery or rooftop gardens</small><br>
	<label><input type="checkbox"> Sales/purchasing/acquisition</label><br>
	<label><input type="checkbox"> Construction</label><br>
	<label><input type="checkbox"> Maintenance</label><br>
	<label><input type="checkbox"> Refurbishing</label><br>
	<label><input type="checkbox"> Retrofitting</label> <small>	E.g. retrofitting fossil fuel cars to electric</small><br>
	<label><input type="checkbox"> Recycling/disposal</label><br>
	<label><input type="checkbox"> Other (please specify)</label> <input type="text">
</div>

<hr>

<h3>SHORT DESCRIPTION OF THE SOLUTION (MAX. 70 WORDS)</h3>
<textarea></textarea>

<h3>WHERE CAN YOUR SOLUTION BE IMPLEMENTED?</h3>
<label>Locations where solution currently is used</label> <input type="text"><br>
<label>Locations where solution soon will be implemented</label> <input type="text"><br>

<h3>SHORT DESCRIPTION OF THE ENTREPRENEUR/TEAM BEHIND THE SOLUTION (MAX. 70 WORDS/ENTREPRENEUR)</h3>
<textarea></textarea>

<div class="align-inputs">
	<h3>CONTACT DETAILS</h3>
	<label>Name of the company*</label><input type="text"><br>
	<label>Address</label><input type="text"><br>
	<label>Contact person*</label><input type="text"><br>
	<label>Email*</label><input type="text"><br>
	<label>Phone number</label><input type="text"><br>
	<label>Skype</label><input type="text"><br>

	<h3>Web-links</h3>
	<label>Company website</label><input type="text"><br>
	<label>Twitter</label><input type="text"><br>
	<label>Facebook</label><input type="text"><br>
	<label>LindkedIn</label><input type="text"><br>
	<label>Other</label><input type="text"><br>
</div>

Privacy settings		
<h3>HOW DO YOU WANT TO DISPLAY YOUR CONTACT DETAILS?</h3>
<label><input type="checkbox"> To everyone using the platform</label> <br>
<label><input type="checkbox"> To everyone with interest in the areas relevant to my solution</label> <br>
<label><input type="checkbox"> Only to potential customers</label> <br>
<label><input type="checkbox"> Only to other solution providers</label> <br>
<label><input type="checkbox"> To nobody</label> <small>Interested stakeholders can contact you through the platform, but all your contact details will be anonymous. If you mark this option, also mark what stakeholders above you want to be able to contact you through the platform, if any.</small><br>
<h3>What data do you want to share, if any</h3>
<small>You can always come back and change settings later. General tip: The more transparent you are the easier it is for customers/partners to find and see the benefits of your solution.</small><br>
<label><input type="checkbox"> I’m willing to share everything</label> <br>
<label><input type="checkbox"> Only basic information about the solution (including contact details)</label> <br>
<label><input type="checkbox"> Both basic and optimal level information</label> <br>
<label><input type="checkbox"> My comments on other solutions</label> <br>
<label><input type="checkbox"> My use of the platform</label> <small>E.g. what solutions you look at, if you rate them high, etc., so that you – based on how you and users similar to you use the platform – can get tailor-made suggestions such as “Others that looked at these solutions also liked this solution” (a similar functionality that Amazon.com has).</small><br>

</div>
