
body
{
    background-color:#055498;
	background-image: url(images/bg.jpg);
	background-attachment:fixed; 
	background-size:cover;
	background-repeat:no-repeat;
	background-position:right top;
    font-size: 100%;
    line-height:100%;
    font-family: 'helvetica', 'arial' ,sans-serif; 
    color:#d6df2a;
}

#wrap{
    margin: 0 auto 0 auto;
    min-height:1155px;
    width: 920px;
    min-width: 920px;
}
p{
    font-weight:500;
    font-size: 13px; 
    margin: 15px;
    line-height: 130%;
}

#container{
    position: absolute;
    min-height:1155px;
    width: 920px;
    min-width: 920px;
    overflow: hidden;
}

a{color:#ffffff; text-decoration:none;}

a:visited{color:#ffffff; text-decoration:none;}

a:hover{color: #d6df2a; text-decoration:underline;}

a:active{color: #d6df2a; text-decoration:underline;}

.activated{color: #d6df2a !important; text-decoration:underline;}

.gradient{
    border-radius: 5px;
    background: -moz-linear-gradient(top,  rgba(20,125,186,0.9) 0%, rgba(0,105,166,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,0.9)), color-stop(100%,rgba(0,105,166,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(20,125,186,0.9) 0%,rgba(0,105,166,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(20,125,186,0.9) 0%,rgba(0,105,166,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(20,125,186,0.9) 0%,rgba(0,105,166,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(20,125,186,0.9) 0%,rgba(0,105,166,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66f2f2f2', endColorstr='#290069a6',GradientType=0 ); /* IE6-9 */
    
    box-shadow: 7px 7px 10px RGBA(0,0,0,0.1);
}

.shadow {box-shadow: 7px 7px 10px RGBA(0,0,0,0.1);}

h2
{
    display:block;
	font-style:normal;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	line-height:120%;
    margin-top: 10px;
}

.headerblockswitch{
    height:40px;
	width:380px;
    margin-top:40px;
	font-size:18px;
    padding 0px;
}

.headerblockswitch hr{
    width: 275px;
    background-color: #d6df2a;
    height: 1px;
    border: 0px; 
    border-color: #d6df2a;
    margin: 0px 0px; 
    padding: 0;
}
								   

h1{
    font-family: 'Abel', sans-serif;
    line-height: 110%;
    height: 42px;
	font-size:22px;
	text-align:left;
}

#leafletheader{
    display: none;
    position: absolute;
    width 50px;
    height 50px;
    margin: 0px;
    padding 0px;
    top:84px;
    left: 355px;
}

#twitterheader{
    display: none;
    position: absolute;
    width 50px;
    height 50px;
    margin: 0px;
    padding 0px;
    top:84px;
    left: 670px;
}

#banner {

}
#banner img {
    width: 100%;
    height: auto;
    position: relative;
    top: 390px;
}

#resultsheader{
    position: absolute;
    width 500px;
    height 50px;
    margin: 0px;
    padding 0px;
    top:735px;
    left: 0px;
}

.contentblock{
    display: inline-block;
    width:290px; 
    height: 325px; 
    overflow: visible;
}

#results{
    display: inline-block;
    position:absolute;
    width:920px; 
    height: 350px; 
    top: 760px;
    left: 0px;
}

#about{
    position: absolute;
    left: 0px;
    top: 110px;
}
#leaflet{
    position: absolute;
    left: 315px;
    top: 110px;
}

#leaflet img{
    border: 2px solid;
    border-color: #ffffff;
    margin: 5px 56px 20px 56px;
}

#leaflet h2{
    text-align: center;
    margin: 10px auto;
    width: 200px;
    height: 20px;
    top: 15px;
}

#twitter{
    position: absolute;
    left: 630px;
    top: 110px;
    margin-right:0px;
}

nav{
    font-size: 12px;
    text-align:left;
    margin:0px;
    position: absolute;
    top: 30px;
    left: 590px;
}

nav ul li{
    margin:0px;
    display: inline;
    list-style:none;
    margin-right: 10px;
}

#contactinfo{display: inline-block; width: 500px;}

#tvv{
    position: relative;
    top: 0px;
    display:inline-block;
    float: right;
    margin-right: 15px;
    width: 270px;
    height 90px;
}

footer{
    width: 920px;
    height 80px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#footercontent{
    padding-top:10px;
    padding-bottom:20px;
}

#footercontent p{
    font-size:14px;
    margin-left:15px;
    margin-right: 15px;
    margin-top:3px;
    margin-bottom:3px;
}

#tvv p{
    text-align: center;
    font-size: 11px;
}
#tvv img{
    position:relative;
    left: 55px;
    margin-top: 15px;
}

.headerblockswitch{
    height:40px;
    margin-top:17px;
	font-size:18px;
    padding 0px;
}

.swe .headerblockswitch h2{
	font-style:normal;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	line-height:120%;
    margin-top: 10px;
}

.chn .headerblockswitch h1{
	position:relative;
    top: 20px;
}

#slider{
    box-shadow: none;
}