<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cluster Platform</title>
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/boilerplate.css">
	<link rel="stylesheet" href="css/cluster.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="shortcut icon" href="img/favicon.png">
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
</head>
<body ng-app="cluster">
	<div class="page">

		<div class="full-row page-stripe">
			<div class="pull-right">
				<a class="tab_link tab_link_dashboard" href="#dashboard">
					<i class="fa fa-home"></i> <span class="hidden-sm">Dashboard</span>
				</a>
				<a class="tab_link tab_link_clustersearch" href="#clustersearch">
					<i class="fa fa-search"></i> <span class="hidden-sm">Search</span>
				</a>
				<a class="tab_link tab_link_cluster" href="#cluster">
					<i class="fa fa-bullseye"></i> <span class="hidden-sm">Explorer</span>
				</a>
				<a href="javascript:void(0)"><i class="fa fa-power-off"></i></a>
			</div>
			<div class="title">
				Cluster Platform for Transformative Solutions
			</div>
		</div>

		<div class="tab_page tab_page_cluster" ng-controller="ClusterCtrl">
			<div class="full-row page-stripe toolbar">
				<div class="pull-right">
					<a id="download-image-link" download="cluster-snapshot.png">
						<i class="fa fa-camera"></i></a>
					<a onclick="engine.zoom(-1)" href="javascript:void(0)">
						<i class="fa fa-plus"></i></a>
					<a onclick="engine.zoom(1)" href="javascript:void(0)">
						<i class="fa fa-minus"></i></a>
				</div>
				<div>
					<a ng-class="{active: activePane === 'filter'}"
					   ng-click="activePane = 'filter'" href="javascript:void(0)">
						Filter
					</a>
					<a ng-class="{active: activePane === 'current'}"
					   ng-click="activePane = 'current'" href="javascript:void(0)">
						Current
					</a>
					<a ng-class="{active: activePane === 'develop'}"
					   ng-click="activePane = 'develop'" href="javascript:void(0)">
						Develop
					</a>
					<a ng-class="{active: activePane === 'legend'}"
					   ng-click="activePane = 'legend'" href="javascript:void(0)">
						Legend
					</a>
				</div>
			</div>
			<div style="position: relative">
				<canvas id="canvas" width="800" height="800"></canvas>
				<div class="sidebar details_sidebar" id="node_details_sidebar">
					<div>
						<div>
							<a class="pull-right"
							   onclick="engine.centerSelected()" 
							   href="javascript:void(0)">
								<i class="fa fa-crosshairs fa-2x"></i>
							</a>
							<h2><span class="bind-name"></span> </h2>
						</div>
						<div class="bind-description"></div>
						<div class="page-stripe toolset"><label>Id:</label> <span class="bind-id"></span></div>
					</div>
				</div>
				<div class="sidebar search_sidebar"
					 id="search_sidebar"
					 ng-show="activePane === 'filter'">
					<div>
						<h3>Filter</h3>
						<label>Status</label>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.existing"> Existing</label></div>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.supporting"> Supporting</label></div>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.potential"> Potential</label></div>
						<label>Type</label>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.core"> Core</label></div>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.accelerator"> Accelerator</label></div>
						<div><label>
							<input type="checkbox"
								   ng-model="filter.expander"> Expander</label></div>
					</div>
				</div>
				<div class="sidebar legend_sidebar"
					 ng-show="activePane === 'current'">
					<div>
						<h3>Current View</h3>
					</div>
				</div>
				<div class="sidebar legend_sidebar"
					 ng-show="activePane === 'develop'">
					<div>
						<h3>Develop</h3>
					</div>
				</div>
				<div class="sidebar legend_sidebar"
					 ng-show="activePane === 'legend'">
					<div>
						<h3>Legend</h3>
	<label class="fill" style="background-color: rgba(255, 64, 0, 0.5)"> core</label>
	<label class="fill" style="background-color: rgba(200, 40, 255, 0.5)"> accelerator</label>
	<label class="fill" style="background-color: rgba(200, 255, 0, 0.5)"> expander</label>
	<label class="border" style="border-color: rgba(210, 100, 20, 0.5)"> existing</label>
	<label class="border" style="border-color: rgba(10, 170, 210, 0.5)"> supporting</label>
	<label class="border" style="border-color: rgba(60, 180, 10, 0.5)"> potential</label>
	<label class="relation" style="border-color: rgba(182,128,216, 0.5)">alternative</label>
	<label class="relation" style="border-color: rgba(129,244,153, 0.5)">catalyst</label>
	<label class="relation" style="border-color: rgba(255,135,135, 0.5)">participant</label>
	<label class="relation" style="border-color: rgba(129,153,244, 0.5)">potential</label>
	<label class="relation" style="border-color: rgba(182,216,128, 0.5)">provider</label>
					</div>
				</div>
			</div>
		</div>

		<div class="tab_page tab_page_clustersearch">

			<div class="full-row jumbotron">
				Cluster Search
			</div>

			<div class="row" ng-controller="SearchCtrl" style="position: relative">
				<div class="sidebar column width4">
					<div><input type="text" ng-model="search" placeholder="Search"></div>
					<hr>
					<div>
						<label><input type="checkbox" ng-model="filters.mobility"> Mobility</label>
					</div>
					<div>
						<label><input type="checkbox" ng-model="filters.nutrition"> Nutrition</label>
					</div>
					<div>
						<label><input type="checkbox" ng-model="filters.building"> Building</label>
					</div>
				</div>
				<div class="column width8 result-pane">
					<h3>TRANSFORMATIVE CLUSTERS</h3>
					<table style="width: 100%">
					<tr>
						<th>Name</th><th>Mobility</th><th>Nutrition</th><th>Building</th>
					</tr>
					<tr ng-repeat="s in orderedSolutions() | filter:search | limitTo:10">
						<td class="cluster-name"><a href="#cluster/{{s.id}}">{{s.name}}</a></td>
						<td><small>{{s.properties.mobility}}</small></td>
						<td><small>{{s.properties.nutrition}}</small></td>
						<td><small>{{s.properties.building}}</small></td>
					</tr>
					</table>
				</div>
			</div>

		</div>

		<div class="tab_page tab_page_dashboard">

			<div class="full-row jumbotron">
				Dashboard
			</div>

			<div class="row">
				<div class="column width8 updates">
					<h2>Updates</h2>
					<div class="blocks">
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
							</span>
							<b>14</b><div class="specifier">likes</div>
						</div>
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
							</span>
							<b>6</b><div class="specifier">opportunities</div>
						</div>
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
							</span>
							<b>32</b><div class="specifier">news flashes</div>
						</div>
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
							</span>
							<b>7</b><div class="specifier">ideas for you</div>
						</div>
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-link fa-stack-1x fa-inverse"></i>
							</span>
							<b>3</b><div class="specifier">possible connections</div>
						</div>
						<div class="block">
							<span class="fa-stack fa-2x">
						  		<i class="fa fa-circle fa-stack-2x"></i>
						  		<i class="fa fa-link fa-stack-1x fa-inverse"></i>
							</span>
							<b>3</b><div class="specifier">possible connections</div>
						</div>
					</div>
				</div>
				<div class="column width4 profile-summary">
					<h2>Marie Fredricks</h2>
					<img src="img/profiles/marie.jpg" width=100 height=100>
					<div class="properties">
						<div><b>Profile</b> Entrepreneur</div>
						<div><b>Segment</b> Nutrition</div>
					</div>
				</div>
			</div>

		</div>

		<div class="full-row footer page-stripe">
			<div class="title">
				21st Century Frontiers 2014
			</div>
		</div>
	</div>

	<script src="jquery.js"></script>
	<script src="underscore.js"></script>
	<script src="angular.js"></script>
	<script src="webapp.js"></script>
	<script src="vector.js"></script>
	<script src="canvas.js"></script>
	<script src="nodes.js"></script>
	<script src="visualizer.js"></script>
	<script src="engine.js"></script>
	<script>

	(function (){
		var link = document.getElementById('download-image-link')
		link.addEventListener('click', downloadImage, false);
		function downloadImage(){
			var url = document.getElementById('canvas').toDataURL('image/png')
			var downloadUrl = url.replace(/^data:image\/[^;]/, 'data:application/octet-stream')
		    link.href = downloadUrl;
		}
	}())

	function selectEntity(e){
		$('#node_details_sidebar').show()
		bindData('node_details_sidebar', e)
	}
	function deselectEntity(e){
		$('#node_details_sidebar').hide()
	}

	function randomName(syllables){
		var vowel = 'aaeeiioouuy'
		var conso = 'bcddfghhkllmnnprrsstttv'
		function syllable(){ return _.sample(vowel) + _.sample(conso) }
		return _.sample(conso).toUpperCase() + _.times(syllables || _.random(2,4), syllable).join('')
	}

	var ClusterPlatform = { entities: [] }

	function createNodes(clusterCount, clusterSize){
		function entityFactory(r,g,b){
			return function(i){
				return {
					id:_.uniqueId(),
					name: randomName(),
					description: randomName()+' '+_.times(15, randomName).join(' ').toLowerCase(),
					properties: {
						status: _.sample(['existing', 'supporting', 'potential']),
						type: _.sample(['core', 'accelerator', 'expander']),
		                mobility: _.random(100),
		                nutrition: _.random(100),
		                building: _.random(100)
					}
				}
			}
		}
		var clusters = _.times(clusterCount, function (i){
			var es = _.times(clusterSize, entityFactory(Math.random(), Math.random(), Math.random()))
			var rs = fillTree(function (a,b){
				var type = _.sample(['participant', 'provider', 'catalyst', 'potential', 'alternative'])
				return {start:a, end:b, type: type}
			}, 3, es)
			return { entities: es, relations: rs }
		})
		var entities = _.flatten(_.pluck(clusters, 'entities'))
		var relations = _.flatten(_.pluck(clusters, 'relations'))
		function fillTree(factory, branches, nodes){
			var accumulator = []
			var pointer = 1
			for(var index=0; pointer<nodes.length; index++){
				var b = _.random(2, branches)
				for(var i=0; i<b && pointer<nodes.length-i; i++)
					accumulator.push(factory(nodes[index], nodes[pointer+i]))
				pointer+=b
			}
			return accumulator
		}

		ClusterPlatform.entities = entities

		var nodes = Nodes(entities, relations)
		nodes.setDampening(0.95)
		_.times(300, function (){ nodes.simulate() })
		nodes.setDampening(0)
		return nodes
	}

	var engine = Engine('canvas', createNodes(1, 20), {
		fps: 30,
		selectEntity: selectEntity,
		deselectEntity: deselectEntity
	})
	
	ClusterPlatform.engine = engine

	window.addEventListener('resize', _.throttle(engine.fillScreen, 750, {leading: true}))
	document.getElementById('canvas').addEventListener('wheel', function (e){ engine.zoom(e.deltaY) })

	var viewChangeHandlers = {
		cluster: function (path, clusterId){
			//engine.setNodes(createNodes(5, 10))
			engine.fillScreen()
			if (clusterId){
				engine.select(clusterId)
				engine.centerSelected()
			}
		}
	}

	fragmentRouting('dashboard', viewChangeHandlers)

	</script>
</body>
</html>