@font-face {
  font-family: Chicago;
  src: url(ChicagoFLF.ttf);
}

:root {
  --line: 2px;
  --win-color: #333;
  font-family: Chicago, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

window-frame {
  display: grid;
  grid-template-rows: 28px 1fr;
  position: absolute;
  left: 10%;
  top: 10%;
  border: var(--line) solid var(--win-color);
  background-color: #fff;
  box-shadow: 8px 8px 0 #0003;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

window-frame.focused {
  z-index: 2;
}
window-frame window-title {
  display: grid;
  grid-template-columns: 28px 1fr 28px;
  justify-items: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #eee;
  user-select: none;
}

window-frame window-title.pressed {
  background-color: #ddd;
}

window-frame window-title button {
  width: 20px;
  height: 20px;
  appearance: none;
  border: var(--line) solid var(--win-color);
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  line-height: 16px;
}
window-frame window-title button:hover {
  background-color: #aaa;
}
window-frame window-title button:active {
  background-color: #000;
}

window-frame window-body {
  position: relative;
  border-top: var(--line) solid var(--win-color);
  display: grid;
}

a.app-icon {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;
}
a.app-icon img {
  display: block;
  width: 64px;
  height: 64px;
}
a.app-icon.open img {
  filter: brightness(0%);
  opacity: 25%;
}
a.app-icon span {
  display: block;
  padding: 3px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  font-weight: normal;
  font-size: inherit;
  margin: 20px 0 10px 0;
  font-family: Chicago, Verdana, sans-serif;
}

h2:first-child {
  margin: 0 0 10px 0;
}

span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a, a:hover, a:active {
  cursor: pointer;
  color: #000;
}

p {
  margin: 0 0 20px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stack {
  max-width: 400px;
}
.padded {
  padding: 10px;
}

desktop-host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  user-select: none;
}

desktop-host > header {
  border-bottom: var(--line) solid var(--win-color);
  padding: 0 5px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}
header > clock-widget {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 3px
}

.halftone {
  --dotSize: 1px;
  --bgSize: 4px;
  --bgPosition: calc(var(--bgSize) / 2);
  background-image: radial-gradient(
      circle at center,
      black var(--dotSize),
      transparent 0
    ),
    radial-gradient(circle at center, black var(--dotSize), transparent 0);
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

button.btn {
  min-width: 100px;
  appearance: none;
  border: var(--line) solid var(--win-color);
  padding: 3px 6px;
  margin: 2px;
  border-radius: 8px;
  background-color: #fff;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}
button.btn:hover:not([disabled]) {
  outline: 3px solid #000;
  outline-offset: 1px;
}
button.btn:disabled {
  color: #aaa;
  border-style: dashed;
}
button.btn:active:not([disabled]) {
  color: #fff;
  background-color: #000;
}

input[type='checkbox'] {
  appearance: none;
  display: inline-grid;
  place-content: center;
  width: 18px;
  height: 18px;
  margin: 0 6px 0 3px;
  font: inherit;
  border: var(--line) solid var(--win-color);
}
input[type='checkbox']::before {
  content: '✕';
  margin-top: -2px;
  color: transparent;
  font-size: 22px;
}
input[type='checkbox']:checked::before {
  color: var(--win-color);
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

select {
  appearance: none;
  border: 2px solid var(--win-color);
  border-radius: 0;
  box-shadow: 3px 3px 0 -1px var(--win-color);
  padding: 2px 2px 2px 5px;
  margin: 2px 6px 4px 2px;
  font-family: inherit;
  font-size: inherit;
  /* arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22m12%2017%207-8H5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  background-size: 24px auto;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--win-color);
  margin: 10px -10px;
}

input {
  border: 2px solid var(--win-color);
  border-radius: 0;
  padding: 3px;
  margin: 2px 2px 4px 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: inherit;
}

menu-root button, menu-item button {
  position: relative;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 3px 15px;
  white-space: nowrap;
  user-select: none;
}
menu-root { position: relative }
menu-root button:hover { background-color: var(--win-color); color: #fff }
menu-item hr { margin: 3px 0 }
menu-item button:hover { background-color: var(--win-color); color: #fff }
menu-dropdown {
  position: absolute;
  z-index: 10;
  top: 27px;
  left: 0;
  display: flex;
  flex-direction: column;
  background: white;
  border: var(--line) solid var(--win-color);
  min-width: 120px;
  border-radius: 0 0 8px 8px;
  box-shadow: 8px 8px 0 #0003;
}
menu-backdrop {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
