body, html {
  padding: 0;
  margin: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", "arial", sans-serif;
  font-size: 13px;
}
body {
  padding-top: 25px;
}

.galmap-toolbox {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 25px;
  padding: 10px;
  text-align: center;
}
.galmap_label {
  font-size: 8px;
  font-family: Verdana;
  fill: rgba(0,0,0,0.4);
}
.galmap_label:hover {
  fill: #000;
}

.sidebar {
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 26px;
  bottom: 0;
  padding: 5px;
  background: #fafafa;
  border-left: 1px solid #aaa;
  text-align: right;
}
.sidebar span {
  display: block;
  max-width: 150px;
  text-align: left;
}
.sidebar label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  padding: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.sidebar input[type=text],
.sidebar input[type=file],
.sidebar select {
  display: block;
  margin: 2px 0;
  width: 150px;
}
.sidebar > div {
  margin: 3px 0;
}
.sidebar button,
.sidebar input[type=file],
.sidebar input[type=text],
.sidebar input[type=number],
a.toggle-btn,
a.button {
  display: inline-block;
  margin: 0 0 0 5px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 1px 8px;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  box-shadow: 0 1px 0px rgba(0,0,0,0.05);
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.sidebar input[type=text],
.sidebar input[type=number] {
  display: block;
  border: 1px solid #aaa;
  border-radius: 2px;
}
.sidebar button:active {
  background: linear-gradient(to top, #07f, #5af);
  border-color: #25f;
}
.sidebar .input-grid em {
  display: inline-block;
  text-style: normal;
  width: 74px;
}
.sidebar .input-grid input {
  display: inline-block;
  width: 74px;
}

.table {
  margin: 20px;
  width: 75%;
  border-spacing: 0;
}
.table th {
  text-align: left;
  padding: 4px;
}
.table td {
  padding: 4px;
}
.table tr:hover {
  background: #eee;
}

.btn-group {
  display: inline-block;
  margin: 0 5px;
}
.btn-group .toggle-btn {
  border-radius: 0;
  margin: 0 0 0 -1px;
  cursor: pointer;
  user-select: none;
}
.btn-group .toggle-btn:hover {
  background: linear-gradient(to top, #8bf, #adf);
  border-color: #8af;
}
.btn-group .toggle-btn:first-child { border-radius: 4px 0 0 4px }
.btn-group .toggle-btn:last-child { border-radius: 0 4px 4px 0 }
.btn-group .toggle-btn.active {
  background: linear-gradient(to top, #07f, #5af);
  border-color: #25f;
}