
.modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
}
.modal {
  width: 85%;
  background: #fff;
  border: 1px solid #888;
  border-radius: 2px;
  margin: 10vh auto;
  box-shadow: 0 10px 30px #888;
}
.modal-tools {
  padding: 5px 5px 3px 5px;
  border-bottom: 1px solid #ddd;
  background: linear-gradient(to top, #f3f3f3, #fff);
}
.modal-list {
  display: inline-block;
  width: 65%;
  height: 75vh;
  padding: 10px 0;
  vertical-align: top;
  overflow: auto;
  cursor: pointer;
}
.modal-picked-list {
  display: inline-block;
  width: 33%;
  height: 75vh;
  padding: 10px 0;
  overflow: auto;
  vertical-align: top;
}
.modal-list:first-child {
  border-right: 1px solid #888;
}
.modal-close {
  float: right;
}
.modal-item {
  display: inline-block;
  position: relative;
  width: 120px;
  vertical-align: top;
}
.modal-item-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  border-radius: 20px;
  width: 16px;
  height: 16px;
  text-align: center;
}
.modal-item-close:hover {
  background: #eee;
}
