
a { color: white }

a.action-button {
    padding: 6px 12px;
    background-color: #f08;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
a.action-button:link {
    background-color: #f08;
    color: white;
}
a.action-button:visited {
    background-color: #e07;
    color: white;
}
a.action-button:hover {
    background-color: #d06;
    color: white;
    text-decoration: none;
}
a.action-button:active, a.action-button:focus {
    background-color: #c05;
    color: white;
}
.container {
    background-color: #eee;
    padding: 0;
}
.menu {
    position: relative;
    margin-top: 6px;
}
.menu > .search-box {
    position: absolute;
    text-align: right;
    right: 0;
}
.menu > .search-box ul.topmenu{
    display: inline-block;
}
.phone-menu-button {
    margin-left: 8px
}
#phone-menu-icon {
    margin-left: 12px;
}
.search-box input {
    border-radius: 4px;
    border: 2px solid #bbb;
    margin: 2px;
    padding: 4px;
}
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
ul.topmenu > li.menu-button {
    display: inline-block;
    width: auto;
    margin-right: 4px;
    padding: 0;
}
ul.topmenu > li.menu-button.fixed-button {
    display: inline-block !important;
    width: auto !important;
}
ul.topmenu > li > a {
    display: block;
}
.force-visible {
    display: block !important;
}
ul.topmenu {
    list-style-type: none;
    padding: 0;
}
.headline {
    background: url(../img/jumbotron.jpg) center center;
    background-size: cover;
    height: 310px;
    margin-bottom: 24px;
    background-color: #333;
    position: relative;
}
a.specials-button {
    text-align: center;
    font-size: 130%;
    display: block;
    margin: 12px;
    padding: 16px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.spotlight {
    padding: 24px;
    margin-bottom: 24px;
    color: #fff;
}
.spotlight h2 {
    margin: 0;
}
.spotlight .glyphicon {
    float: right;
}
.spotlight img {
    width: 100%;
    height: auto;
    margin: 12px 0;
}
.spotlight a.action-button {
    display: block;
}
.spotlight.spotlight-no1 {
    background-color: #000
}
.spotlight.spotlight-no2 {
    background-color: #444
}
.sub-spotlight {
    display: inline-block;
    vertical-align: top;
    width: 321px;
    margin: 0 0 20px 0;
    font-weight: bold
}
.sub-spotlight > a {
    display: block;
    height: 100px;
    padding: 30px 12px;
}
.sub-spotlight .glyphicon {
    font-size: 300%;
    float: right;
    margin-right: 24px
}
.partners {
    background-color: #666;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.partner {
    background-color: #888;
    color: white;
    text-align: center;
    margin: 12px 0 0 0;
    padding: 24px 0;
    font-weight: bold
}
.footer-link {
    display: inline-block;
    margin: 1ex;
    padding: 1ex;
}
.footer-button {
    text-align: right;
}
.footer-button a.action-button {
    display: inline-block;
    margin: 10px 0;
}
.row-alignment-fix {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 1024px) {
    .sub-spotlight {
        width: 369px;
        margin-bottom: 12px;
    }
    .sub-spotlight.alpha {
        margin-right: 24px;
    }
    .hidden-below-large {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-button a.action-button {
        text-align: center;
        display: block;
    }
    .specials-button {
        left: 0
    }
    ul.topmenu > li.menu-button {
        width: 48%;
    }
    .sub-spotlight {
        display: block;
        width: auto;
        margin-right: 0;
    }
    .sub-spotlight.alpha {
        margin-right: 0;
    }
    .hidden-below-medium {
        display: none;
    }
}

@media (max-width: 480px) {
    .footer-link {
        display: block;
    }
    ul.topmenu > li.menu-button {
        width: auto;
        display: block;
    }
    input[type=text]{
        width: 100px;
    }
}